body {background-color: black;}

#text {margin-top: 55px;}
#text2 {margin-top: 20px;}
.text {
    font-size: x-small;}


div {
    color: white;
height: 230px;
width: 220px;
border-style: solid;
border-color: dimgrey;
border-width: 3px;
border-radius: 10%;
display: inline-block}

#first {
    padding: 21px 21px 21px 21px;
    margin-right: 10px;
    margin-left: 250px;

}

    #second {
        padding: 18px 18px 18px 18px;
        margin-top: 40px;
        margin-right: 10px;

    }

        #third {
            padding: 18px 18px 18px 18px;
            margin-top: 20px;
        }
            
        